.mo-reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}
.mo-picker,
.mo-date,
.mo-time,
.mo-datetime {
  @extend .mo-reset;
  * {
    @extend .mo-reset;
  }
}

