$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif !default;
$color-text : #606266  !default;
$color-hint : #909399  !default;
$color-border : #DCDFE6  !default;
$color-disabled : #c0c4cc  !default;
$color-placeholder : #b1b4b9  !default;
$color-primary : #409EFF  !default;
$color-success : #67C23A   !default;