.mo-btn {
  appearance: none;
  display: inline-block;
  text-align: center;
  height: 30px;
  line-height: 18px;
  padding: 5px 12px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $color-border;
  outline: none;
  font-family: $font-family;
  color: inherit;
  user-select: none;
  transition: all .2s;
  border-radius: 4px;
  &:disabled  {
    pointer-events: none;
  }
  &.mo-btn--text {
    border-color: transparent;
    &:hover,&:active {
      color: $color-primary;
    }
    &:disabled {
      color: $color-disabled;
    }
  }
  &.mo-btn--plain {
    &:hover,&:active {
      color: $color-primary;
      border-color: $color-primary;
    }
    &:disabled {
      color: $color-disabled;
      border-color: $color-disabled;
      background-color: transparent;
    }
  }
}